
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/EGHLayout.cshtml";
}

<h2>EGHCEQ -  Соответствие качества сред</h2>

@ViewBag.msg
<section>
<article>
    @Html.ActionLink("EGHCEQ - Отчет", "Report")
</article>
</section>