
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/EGHLayout.cshtml";
}

<h2>EGHRGE - Реабилитация геологической среды</h2>



 @ViewBag.msg

<section>
    <article>
        @Html.ActionLink("EGHRGE - Моделирование", "Report")
    </article>
    <article>
        @Html.ActionLink("EGHRGE - Отчет", "Report")
    </article>
</section>

