
@model EGH01DB.RGEContext.Report
@{
    ViewBag.Title = "RGE-Отчет";
    Layout = "~/Views/Shared/EGHLayout.cshtml";
}

<h2>RGE-Отчет</h2>

<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p>@ViewBag.msg</p>
</div> 

        <div class="panel panel-success" >
            <div class="panel-heading">
                <div class="panel-title">
                    Придоохранные объекты  
                </div>
            </div>
        <div class="panel-body">
        @foreach (var s in Model.lines)
        {

            <p>
                @String.Format(" Объект: {0}, широта: {1} долгота:  {2} ", s.Name, s.latitude, s.longitude)
            </p>

            @*@Html.ActionLink(, "Report")*@
        }
            </div>
        </div>