
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/EGHLayout.cshtml";
}

<h2>EGHORT -  Оптимальная технологии реабилитации</h2>

@ViewBag.msg

<section>
<article>
    @Html.ActionLink("EGHORT - Отчет", "Report")
</article>
</section>